<div id="navbar" data-uk-sticky>
  <div class="uk-container uk-container-center">
    <nav class="uk-navbar uk-hidden-small">     
      <ul class="uk-navbar-nav">
        <li><a href="#"><i class="uk-icon-indent uk-icon-justify uk-margin-small-right"></i>Plays</a></li>
        <li><a href="#"><i class="uk-icon-th uk-icon-justify uk-margin-small-right"></i>Collections</a></li>
        <li class="uk-parent" data-uk-dropdown="{mode:'click', justify:'#navbar'}">
          <a><i class="uk-icon-search uk-icon-justify uk-margin-small-right"></i>Search</a>
          <div class="uk-dropdown">
            
          </div>
        </li>
      </ul>    
    </nav>    
  </div>
</div>

<!-- 这是开关抽屉式边栏的锚 -->
<a href="#my-id" data-uk-offcanvas>打开</a>

<!-- 这是开关抽屉式边栏的按钮 -->
<button class="uk-button" data-uk-offcanvas="{target:'#my-id'}">左边</button>
<button class="uk-button" data-uk-offcanvas="{target:'#my-id-right'}">右边</button>

<!-- 抽屉式边栏 -->
<div id="my-id" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">抽屉内容</div>
</div>

<div id="my-id-right" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">抽屉右边内容</div>
</div>

<div class="uk-accordion" data-uk-accordion>

    <span class="uk-accordion-title">个人信息</span>
    <div class="uk-accordion-content">
      <ul id="menu">
        <li><a href="#"><i class="uk-icon-large uk-icon-github"></i>界面主题</a></li>
        <li><a href="#"><i class="uk-icon-medium uk-icon-automobile"></i>门户设置</a></li>
        <li><a href="#"><i class="uk-icon-small uk-icon-bar-chart"></i>信息中心设置</a></li>
        <li><a href="#"><i class="uk-icon-large uk-icon-battery-3"></i>页面收藏夹</a></li>
        <li><a href="#"><i class="uk-icon-justify uk-icon-camera"></i>个人网址</a></li>
      </ul>
    </div>

    <span class="uk-accordion-title">界面设置</span>
    <div class="uk-accordion-content">
      <ul>
        <li><a href="#"><i class="uk-icon-large uk-icon-github"></i>界面主题</a></li>
        <li><a href="#"><i class="uk-icon-medium uk-icon-automobile"></i>门户设置</a></li>
        <li><a href="#"><i class="uk-icon-small uk-icon-bar-chart"></i>信息中心设置</a></li>
        <li><a href="#"><i class="uk-icon-large uk-icon-battery-3"></i>页面收藏夹</a></li>
        <li><a href="#"><i class="uk-icon-justify uk-icon-camera"></i>个人网址</a></li>
      </ul>
    </div>

    <span class="uk-accordion-title">系统安全</span>
    <div class="uk-accordion-content">
      <ul>
        <li><a href="#"><i class="uk-icon-large uk-icon-github"></i>界面主题</a></li>
        <li><a href="#"><i class="uk-icon-medium uk-icon-automobile"></i>门户设置</a></li>
        <li><a href="#"><i class="uk-icon-small uk-icon-bar-chart"></i>信息中心设置</a></li>
        <li><a href="#"><i class="uk-icon-large uk-icon-battery-3"></i>页面收藏夹</a></li>
        <li><a href="#"><i class="uk-icon-justify uk-icon-camera"></i>个人网址</a></li>
      </ul>
    </div>

</div>