{extend name="layout:vue" /}
{block name="main"}
	<h1>Vue 2</h1>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			{{ message | cap }}
			{{ fullname }}
			<input type="text" v-model="message" class="form-control">
			<input type="text" v-model="firstname" class="form-control">
			<input type="text" v-model="lastname" class="form-control">
			<input type="button" class="btn btn-primary" @click="doOne" value="doOne">
			<input type="button" class="btn btn-primary" value="v-bind class" 
		    	v-bind:class="{ active: isActive, 'btn-lg btn-danger disabled': hasOne }">
		    <button class="btn btn-primary" v-on:click="say('hi')">Say hi</button>
  			<button class="btn btn-primary" v-on:click="say('what')">Say what</button>
  			<button class="btn btn-primary" v-on:click="warn('表单暂时不能提交！', $event)">提交</button>
  			<input type="button" v-on:keyup.enter="submit" class="btn btn-primary" value="submit1">
			<input type="button" @keyup.enter="submit" class="btn btn-primary" value="submit2">
			<!-- 单字符貌似无效 -->
			<!-- <input type="button" class="btn btn-primary" v-on:keyup.v="say('That is the first letter in Vue')" value="v快捷键"> -->
			<img src="/001.jpg" class="img-responsive img-circle">
		</div>
		<div class="col-md-7">
		<ul>  
			<todo-item v-for="t1 in todos" v-bind:t2="t1"></todo-item>
			<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="John" v-model="checkedNames">
			<label for="john">John</label>
			<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
			<label for="mike">Mike</label>
			<span>Checked names: {{ checkedNames }}</span>

			<input type="radio" id="one" value="One" v-model="picked">
			<label for="one">One</label>
			<br>
			<input type="radio" id="two" value="Two" v-model="picked">
			<label for="two">Two</label>
			<span>Picked: {{ picked }}</span>

			<my-component></my-component>
		</ul>
		</div>
	</div>
{/block}
{block name="footer"}
	xxx
{/block}
{block name="script"}
	<script language="javascript" src="/app.js"></script>
{/block}